<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body class="about-page">

    <header class="hero">
      <!-- <a href="https://npr.org/books" class="books-home">
        <img src="./assets/logo-outline.svg" alt="A Thousand Worlds">
        books
      </a> -->
      <h1><%= json.copy.title %></h1>

      <p class="back-link">
        <a href="/">&lsaquo; Back to books</a>
      </p>

    </header>

    <main class="about">
      <div class="triangle-down"></div>
      <div class="about-content">
        <div>

          <p style="text-align: center; position: relative; left: -10px; margin-right: -30px;">We believe in the power of community - that it <span class="about-text-highlighted">takes a village to raise a reader</span> - and here at <span class="about-text-highlighted"><span style="font-size: 110%;">A THOUSAND WORLDS</span>, we are creating this village. </p>

          <p style="margin-right: -20px;">We are doing this with a PICTURE BOOK DIRECTORY. It <span class="about-text-highlighted">connects</span> readers to beautiful picture books written and illustrated <br class="hide-below-1125" />by BIPOC, <span class="about-text-highlighted">spotlights</span> the intersectional BIPOC creatives whose books we feature, and <span class="about-text-highlighted">acknowledges</span> BIPOC leaders in the <br class="hide-below-1175" />industry - librarians, editors, reviewers, authors, teachers and more - by inviting them to curate our directory and partner on programs.</p>

          <p>Our goal is to affect systemic change. We want to increase visibility and revenue for BIPOC creatives and decision-makers as a means to shape the future of the children’s book industry to be more equitable.</p>

          <p>Our hope is to bring the world to our young readers in an artful way, via innovative picture books that reflect our world, and in turn raise a reader who is more conscious of the world - diverse, surprising, and remarkable. </p>

          <p>We believe in celebrating differences. We believe in widening the gates of admission. We believe in continuing the evolution of art and storytelling. We see a world of possibilities beyond the pages of a picture book.</p>

          <p><span class="about-text-highlighted" style="font-size: 16.8px; line-height: 1.4; display: block; margin-right: -50px;">Imagine a world in which all children see themselves not only in picture books but also in the picture book industry</span>

          <p style="text-align: center"><span class="about-text-highlighted">ENJOY and READ ON!</span></p>

          <% if (archieml.about.credits) { %>
          <div class="credits">
            <%= t.renderMarkdown(archieml.about.credits.replace(/\n/g, '<br/>')) %>
          </div>
          <% } %>
        </div>
      </div>
      <div class="triangle-up"></div>
    </main>

    <%= t.include("partials/_footer.html", { content: t.include("_footer.html"), project: grunt.data.json.project }) %>

    <!-- t.include("partials/_analytics.html") -->
  </body>
</html>
